@{
    ViewData["title"] = "So Sánh";
    int i = 0;
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <th scope="row">@i</th>
                <td>@item.Product.Name</td>
                <td><img src="~/media/products/@item.Product.Image" width="130px" height="100px" /></td>
                @* <td>@Html.Raw(item.Product.Description)</td> *@
                <td>@item.Product.Price.ToString("#,##0 VND")</td>
                <a class="btn btn-danger btn-sm confirmDeletion" asp-controller="Home" asp-action="DeleteCompare" asp-route-id="@item.Compares.Id">Delete</a>
            </tr>
        }
    </tbody>
</table>

