@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "List History Order";
    int i = 1;
}

<div style="width:1400px;">
    <h3>List History Order By User: @ViewBag.UserEmail</h3>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().Id)</th>
                <th>@Html.DisplayNameFor(model => model.First().OrderCode)</th>
                <th>@Html.DisplayNameFor(model => model.First().UserName)</th>
                <th>@Html.DisplayNameFor(model => model.First().CreatedDate)</th>
                <th>@Html.DisplayNameFor(model => model.First().ShippingCost)</th>
                <th>@Html.DisplayNameFor(model => model.First().CouponCode)</th>
                <th>@Html.DisplayNameFor(model => model.First().PaymentMethod)</th>
                <th>@Html.DisplayNameFor(model => model.First().Status)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@i</td>
                        @* <td>@Html.DisplayFor(modelItem => item.Id)</td> *@
                        <td>@Html.DisplayFor(modelItem => item.OrderCode)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.ShippingCost.ToString("#,##0 VND")</td>
                        <td>@Html.Raw(item.CouponCode)</td>
                        @* <td>@Html.DisplayFor(modelItem => item.Status)</td> *@
                        <td>
                            @if (item.Status == 1)
                            {
                                <span class="text text-success">Đơn Hàng Mới</span>
                            }
                            else if (item.Status == 2)
                            {
                                <span class="text text-success">Đã xử lý</span>
                            }
                            else
                            {
                                <span class="text text-danger">Đã Hủy</span>
                            }
                        </td>
                        <td>
                            @if(item.PaymentMethod == "COD")
                            {
                                <span class="text text-primary">@item.PaymentMethod</span>
                            }
                            else if(item.PaymentMethod != "COD")
                            {
                                <span class="text text-primary">@item.PaymentMethod</span>
                            }
                        </td>
                        <td>
                            @if(item.Status == 1)
                            {
                                <a class="btn btn-danger btn-sm confirmDeletion" asp-controller="Account" asp-action="CancelOrder" asp-route-ordercode="@item.OrderCode">Cancel Order</a>
                            }
                            else
                            {
                                
                            }
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>

